*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f3fff6;
padding:20px;
}

.container{
max-width:500px;
margin:auto;
}

.hero{
text-align:center;
margin-bottom:25px;
}

.logo{
width:140px;
margin-bottom:10px;
}

h1{
color:#2e8b57;
margin-bottom:8px;
}

.tagline{
color:#666;
font-size:14px;
line-height:1.5;
}

h2{
margin-top:25px;
margin-bottom:15px;
color:#2e8b57;
}

.menu-card{
background:white;
padding:15px;
border-radius:18px;
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:15px;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.menu-card img{
width:75px;
height:75px;
object-fit:cover;
border-radius:12px;
}

.menu-info{
flex:1;
padding-left:12px;
}

.menu-info h3{
font-size:16px;
margin-bottom:5px;
}

.menu-info p{
color:#555;
font-weight:bold;
}

.qty{
display:flex;
align-items:center;
gap:10px;
}

.qty button{
width:35px;
height:35px;
border:none;
border-radius:10px;
background:#2e8b57;
color:white;
font-size:20px;
cursor:pointer;
}

.qty span{
font-size:18px;
font-weight:bold;
width:20px;
text-align:center;
}

.checkbox-group{
background:white;
padding:15px;
border-radius:18px;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.checkbox-group label{
display:block;
margin-bottom:12px;
}

input,select{
width:100%;
padding:12px;
margin-top:8px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:10px;
}

.qris{
width:100%;
border-radius:15px;
margin-top:10px;
margin-bottom:15px;
}

.pickup{
background:#e8fff0;
padding:15px;
border-radius:12px;
margin-top:15px;
text-align:center;
font-weight:bold;
color:#2e8b57;
}

.total-box{
background:white;
padding:20px;
border-radius:18px;
margin-top:20px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.total-box h2{
margin-top:10px;
margin-bottom:0;
font-size:30px;
}

.order-btn{
width:100%;
padding:16px;
border:none;
border-radius:15px;
background:#2e8b57;
color:white;
font-size:18px;
font-weight:bold;
margin-top:20px;
cursor:pointer;
}

.order-btn:hover{
opacity:0.9;
}

#qrisSection{
background:white;
padding:15px;
border-radius:18px;
margin-top:15px;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}
.topping-item{
    display:flex;
    align-items:center;
    gap:15px;
    margin:15px 0;
}

.topping-item img{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:10px;
}
